*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

html,
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 135px auto;
}
.nav{
    background-color: #e2e8f0;;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.nav-add{
    background-color: rgb(73, 172, 73);
    width: 100px;
    height: 40px;
    font-weight: 900;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
}
.button-nav{
    margin-left: 20px;
    margin-right: 20px;
}
.main{
    background-color:#cfaf8f;
}